.bg-turqoise{
    background-color: #1abc9c !important;
    color: #fff !important;
}
.bg-emerald{
    background-color: #2ecc71 !important;
    color: #fff !important;
}
.bg-energos{
    background-color: #C4E538 !important;
    color: #fff !important;
}
.bg-android{
    background-color: #A3CB38 !important;
    color: #fff !important;
}
.bg-grass{
    background-color: #009432 !important;
    color: #fff !important;
}
.bg-turkish{
    background-color: #006266 !important;
    color: #fff !important;
}
.bg-river{
    background-color: #3498db !important;
    color: #fff !important;
}
.bg-martina{
    background-color: #12CBC4 !important;
    color: #fff !important;
}
.bg-sea{
    background-color: #1289A7 !important;
    color: #fff !important;
}
.bg-marine{
    background-color: #0652DD !important;
    color: #fff !important;
}
.bg-undersea{
    background-color: #1B1464 !important;
    color: #fff !important;
}
.bg-carrot{
    background-color: #e67e22 !important;
    color: #fff !important;
}
.bg-sunflower{
    background-color: #FFC312 !important;
    color: #fff !important;
}
.bg-puffins{
    background-color: #EE5A24 !important;
    color: #fff !important;
}
.bg-asphalt{
    background-color: #34495e !important;
    color: #fff !important;
}
.bg-conceret{
    background-color: #95a5a6 !important;
    color: #fff !important;
}
.bg-wisteria{
    background-color: #8e44ad !important;
    color: #fff !important;
}